.lounge-box {
	display: inline-block;
	width: 25%;
	margin: 0 35px;
}

.lounge-pic {
	padding: 57px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 0;
	transition-duration: .6s;
  	transition-timing-function: ease;
}

.lounge-pic-header {
	color: white;
	font-size: 29px;
	max-width: 220px;
	margin: 0 auto;
} 

.lounge-description {
	font-size: 20px;
	margin-top: 15px;
	color: #2E2E2E;
}

.lounge-pic:hover,
.lounge-pic:active {
	letter-spacing: 2px;
}

.lounge-pic:hover, .lounge-description:hover {
	cursor: pointer;
}

@media (max-width: 1275px) {
	.lounge-pic {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 1160px) {
	.lounge-description {
		font-size: 17px;
	}
}

@media (max-width: 990px) {
	.lounge-box {
		display: block;
		margin: 50px auto;
		width: 45%;
	}
	.lounge-pic {
		background-position: 50% -30px;
	}
}

@media (max-width: 800px) {
	.lounge-box {
		width: 65%;
	}
	.lounge-pic {
		background-position: 50% -60px;
	}
}

@media (max-width: 600px) {
	.lounge-pic {
		padding: 20px;
		background-position: 50% -45px;
	}
}


