.navbar {
	background-color: #2E2E2E;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	height: 60px;
	text-align: center;
}

.navbar-header {
	color: white;
	font-size: 38px;
	margin: 15px auto;
	font-weight: normal;
	display: inline-block;
}

.navbar-header:hover {
	cursor: pointer;
}