.post {
	display: inline-block;
	width: 50%;
	font-family: 'Josefin Sans', sans-serif;
	font-weight: lighter;
	font-size: 23px;
}

.username {
	margin: 30px;
}

@media (max-width: 900px) {
	.post {
		font-size: 17px;
		width: 70%;
	}
}