* {
	box-sizing: border-box;
}

body {
	position: relative;
	margin:0px;
	padding:0px;
	width:100%;
	font-family: 'Josefin Slab', serif;
}

.lounges {
	background-color: #F5F5F5;
	padding: 40px;
	text-align: center;
}

.lounges-header {
	font-size: 65px;
	margin: 10px auto 130px auto;
}

@media (max-width: 1275px) {
	.lounges {
		padding-left: 0;
		padding-right: 0;
	}
}

@media (max-width: 900px) {
	.lounges-header {
		font-size: 55px;
	}
}


